@model eProto.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "Wykładowcy";
}

<h2>Wykładowcy</h2>

<p>
    @Html.ActionLink("Utwórz nowego wykładowce", "Create")
</p>
<table class="table">
    <tr>
        <th>Nazwisko</th>
        <th>Imię</th>
        <th>Data Rozpoczęcia</th>
        <th>Pokój</th>
        <th>Przedmioty</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Instructors)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.InstructorID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @if (item.OfficeAssignment != null)
                {
                    @item.OfficeAssignment.Location
                }
            </td>
            <td>
                @{
                    foreach (var course in item.Courses)
                    {
                        @course.CourseID @:  @course.Title <br />
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Wybierz", "Index", new { id = item.ID }) |
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@if (Model.Courses != null)
{
    <h3>Przedmioty Wybranego Wykładowcy</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Przedmiot</th>
            <th>Wydział</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}

@if (Model.Enrollments != null)
{
    <h3>
        Studenci
    </h3>
    <table class="table">
        <tr>
            <th>Nazwisko, Imię</th>
            <th>Ocena</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}