@model IEnumerable<eProto.Models.Course>

@{
    ViewBag.Title = "Przedmioty";
}

<h2>Przedmioty</h2>

<p>
    @Html.ActionLink("Utwórz nowy przedmiot", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Przedmiot
        </th>
        <th>
            Wydział
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.CourseID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.CourseID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.CourseID })
        </td>
    </tr>
}

</table>
